@page
@model Personnel_testing_HR_CR.Pages.OverviewResultsModel
@{
}

<div>
    @if (@Model.currentTest != null)
    {
        var styleBlock = "border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: @collorBack; padding: 8px;";
        <div style="@styleBlock.Replace("@collorBack", "#d6d6ff")">
            <p>ФИО @Model.currentTest.Fullname</p>
            <p>Тест @Model.currentTest.Title</p>
        </div>

        @foreach (var question in @Model.currentTest.QuestionsResult)
        {
            <div class="BlockQ"
         style="@styleBlock.Replace("@collorBack", "#dedede")">
                <p>Вопрос: @question.QuestionText</p>
@*                <p>question.AnswerQ @question.AnswerQ</p>;
                <p>question.AnswerUser @question.AnswerUser</p>;*@
                @*<p>--------------------------</p>*@
                @foreach (var answer in @question.Answers)
                {
@*                    <p>answer.Title: @answer.Title</p> 
                    <p>--</p>*@
                    var collor = "color: gray";
                    @if (@answer.Title == @question.AnswerQ)
                    {
                        collor = "color: gold";
                    }

                    @if(answer.Title == @question.AnswerUser && @answer.Title == @question.AnswerQ) {
                        collor = "color: green";
                    }
                    else if (answer.Title == @question.AnswerUser && @answer.Title != @question.AnswerQ)
                    {
                        collor = "color: red";
                    }

                    <div style="@collor">@answer.Title</div>

                }
            </div>
        }
    }
    else
    {
        @foreach (var test in @Model.resultTests)
        {
            <div class="BlockQ"
         style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                <form method="post">
                    <input hidden="hidden" name="id" value="@test.Id" />
                    <p>
                        @test.Fullname, название: @test.Title, дата: @test.Date
                    </p>
                    <input type="submit" value="Загрузить" class="btn btn-primary" asp-page-handler="Submit" />
                </form>
            </div>
        }
    }
</div>