@page
@model PassingTestsModel
@{
    ViewData["Title"] = "Тесты";
}
@{
    int count = 1, countR = 0;
}

@if (@Model.isEnd == false)
{
    <form id="form1" method="post">
        <h1>Тест: @Model.testEntity.Title</h1>
        <h2>Описание: @Model.testEntity.Description</h2>
        <p>Введите свое полное ФИО</p>
        <input type="text" id="fullname" />
        <div class="Quiz">

            <h4 style="margin-top: 4%;"> <span class="label label-info">Вопросы :</span> </h4>


            @foreach (var question in @Model.testEntity.Questions)
            {
                <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">

                    <div class="Question" style="padding: 2%;">
                        <span class="label label-warning"> @string.Format("{0}{1}.", "№", count)</span>
                        <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                        <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionText</p>
                    </div>

                    <div class="Choices" style="margin-left: 8%;">

                        @foreach (var choice in @question.Answers)
                        {
                            <label class="radio-inline">
                                <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice.Title" style="margin-left: -16px;"> @choice.Title
                            </label>

                            <br />
                            countR++;
                        }

                    </div> <!--END Choices-->

                    <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">
                    </div>

                </div> <!-- END BlockQ -->
                count++;
            }
            <span id="countQuections" style="display:none;">@count</span>
            <div class="d-flex justify-content-center">
                <button type="button" id="SubmitQuiz" class="btn btn-primary" style="margin-top: 10px;"><span class="glyphicon glyphicon-ok"></span>Отправить</button>
            </div>
        </div>
        @Model.Name
    </form>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {

            $('#SubmitQuiz').on('click', function() {

                //count Questions
                var sel = $('#countQuections').text();

                console.log(sel);

                var resultQuiz = {
                    Fullname: $('#fullname').val(),
                    IdTest: @Model.testEntity.Id,
                    QuestionsResult: []
                }, countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i < countQuestion; i++) {
                    question = {
                        questionID: $('#ID_Q' + i).text(),
                        questionText: $('#Q' + i).text(),
                        answerQ: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.QuestionsResult.push(question);
                }

                $.ajax({

                    type: 'POST',
                    url: 'api/Values/question',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(resultQuiz),

                    success: function(response) {
                        console.log(resultQuiz);
                        console.log(response);

                        window.location.href = "/PassingTests?id=-1"
                    },
                    error: function(response) {

                    }
                });

                console.log(resultQuiz);

            });



        });

    </script>
}
}
else
{
    <div>Спасибо за прохождение теста!</div>
}
